# Module 4 · Session 3 — Lists, Dictionaries, and Sets

In this session you will practice manipulating Python collections:
- Create empty lists, dictionaries, and sets
- Add, update, and remove elements
- Iterate through them
- Combine them to represent small datasets

## 1. Lists

In [ ]:
# Empty list
scores = []
print("Empty list:", scores)

In [ ]:
# Add elements
scores.append(85)
scores.append(90)
scores.append(78)
print("After appending:", scores)

In [ ]:
# Remove an element
scores.remove(90)
print("After removing:", scores)

In [ ]:
# add multiple elements
scores.extend([10,48,34])
print("After extending:", scores)

In [ ]:
# Access elements
print("First element:", scores[0])

In [ ]:
# Sort
scores.sort()
print("Sorted:", scores)

In [ ]:
# Compute summary values: count, min, max, average
count = len(scores)
minimum = min(scores)
maximum = max(scores)
count, minimum, maximum

In [ ]:
# Average
avg = sum(scores) / len(scores)
print("Average:", avg)

## 2. Dictionaries

In [ ]:
# Empty dictionary
student = {}
print("Empty dict:", student)

In [ ]:
# Add key/value pairs
student["name"] = "Alex"
student["gpa"] = 3.2
student["hours"] = 6
print("Populated dict:", student)

In [ ]:
# Update value
student["gpa"] = 3.5
print("Updated GPA:", student)

In [ ]:
# Access value
print("Name only:", student["name"])

In [ ]:
# Iterate
for key, value in student.items():
    print(key, ":", value)

In [ ]:
# Iterate
for key in student.keys():
    print(key)

In [ ]:
# Iterate
for key in student.values():
    print(key)

## 3. Sets

**Empty set**:
```python
majors = set()
```
⚠️ `{}` makes an empty dict, not a set.

In [ ]:
# Empty set
majors = set()
print("Empty set:", majors)

In [ ]:
# Add elements
majors.add("Math")
majors.add("CS")
majors.add("Math")  # duplicate ignored
majors.add("Biology")
print("Set with duplicates added:", majors)

In [ ]:
# remove and discard
majors.remove("Math")
print("Set after remove:", majors)

In [ ]:
# remove and discard
majors.remove("Math")
print("Set after remove:", majors)

In [ ]:
# remove and discard
majors.discard("Math")
print("Set after remove:", majors)

In [ ]:
# Set operations
a = {"Alex", "Sam", "Riley"}
b = {"Sam", "Maya", "Jordan"}
print("Union:", a | b)
print("Intersection:", a & b)
print("A only:", a - b)

## 4. Mini Dataset (list of dicts)
This is how we can represent records before using Pandas.

In [ ]:
students = [
    {"name": "Alex", "hours": 6, "gpa": 3.2},
    {"name": "Maya", "hours": 8, "gpa": 3.7},
    {"name": "Sam",  "hours": 7, "gpa": 3.2},
]

In [ ]:
# Print each student's name and GPA
for s in students:
    print(s["name"], "has GPA", s["gpa"])

In [ ]:
# Average GPA
avg_gpa = sum(s["gpa"] for s in students) / len(students)
print("Average GPA:", avg_gpa)

In [ ]:
# Add a new field (minutes studied)
def hours_to_minutes(h):
    return h * 60

for s in students:
    s["minutes"] = hours_to_minutes(s["hours"])

print("With minutes added:", students)

In [ ]:
# Unique GPAs
unique_gpas = set(s["gpa"] for s in students)
print("Unique GPAs:", unique_gpas)