# Module 4 · Session 3 — Lists, Dictionaries, and Sets

In this session you will practice manipulating Python collections:
- Create empty lists, dictionaries, and sets
- Add, update, and remove elements
- Iterate through them
- Combine them to represent small datasets

## 1. Lists

In [1]:
# Empty list
scores = []
print("Empty list:", scores)

Empty list: []

In [2]:
# Add elements
scores.append(85)
scores.append(90)
scores.append(78)
print("After appending:", scores)

After appending: [85, 90, 78]

In [3]:
# Remove an element
scores.remove(90)
print("After removing:", scores)

After removing: [85, 78]

In [ ]:
# add multiple elements
scores.extend([10,48,34])
print("After extending:", scores)

After extending: [85, 78, 10, 48, 34]

In [8]:
# Access elements
print("First element:", scores[0])

First element: 85

In [9]:
# Sort
scores.sort()
print("Sorted:", scores)

Sorted: [10, 34, 48, 78, 85]

In [10]:
# Compute summary values: count, min, max, average
count = len(scores)
minimum = min(scores)
maximum = max(scores)
count, minimum, maximum

(5, 10, 85)

In [11]:
# Average
avg = sum(scores) / len(scores)
print("Average:", avg)

Average: 51.0

## 2. Dictionaries

In [12]:
# Empty dictionary
student = {}
print("Empty dict:", student)

Empty dict: {}

In [13]:
# Add key/value pairs
student["name"] = "Alex"
student["gpa"] = 3.2
student["hours"] = 6
print("Populated dict:", student)

Populated dict: {'name': 'Alex', 'gpa': 3.2, 'hours': 6}

In [14]:
# Update value
student["gpa"] = 3.5
print("Updated GPA:", student)

Updated GPA: {'name': 'Alex', 'gpa': 3.5, 'hours': 6}

In [15]:
# Access value
print("Name only:", student["name"])

Name only: Alex

In [16]:
# Iterate
for key, value in student.items():
    print(key, ":", value)

name : Alex
gpa : 3.5
hours : 6

In [17]:
# Iterate
for key in student.keys():
    print(key)

name
gpa
hours

In [18]:
# Iterate
for key in student.values():
    print(key)

Alex
3.5
6

## 3. Sets

**Empty set**:
```python
majors = set()
```
⚠️ `{}` makes an empty dict, not a set.

In [19]:
# Empty set
majors = set()
print("Empty set:", majors)

Empty set: set()

In [20]:
# Add elements
majors.add("Math")
majors.add("CS")
majors.add("Math")  # duplicate ignored
majors.add("Biology")
print("Set with duplicates added:", majors)

Set with duplicates added: {'Math', 'Biology', 'CS'}

In [21]:
# remove and discard
majors.remove("Math")
print("Set after remove:", majors)

Set after remove: {'Biology', 'CS'}

In [22]:
# remove and discard
majors.remove("Math")
print("Set after remove:", majors)

KeyError: 'Math'

In [23]:
# remove and discard
majors.discard("Math")
print("Set after remove:", majors)

Set after remove: {'Biology', 'CS'}

In [24]:
# Set operations
a = {"Alex", "Sam", "Riley"}
b = {"Sam", "Maya", "Jordan"}

In [25]:
print("Union:", a | b)

Union: {'Sam', 'Maya', 'Riley', 'Alex', 'Jordan'}

In [26]:
print("Intersection:", a & b)

Intersection: {'Sam'}

In [27]:
print("A only:", a - b)

A only: {'Riley', 'Alex'}

## 4. Mini Dataset (list of dicts)
This is how we can represent records before using Pandas.

In [28]:
students = [
    {"name": "Alex", "hours": 6, "gpa": 3.2},
    {"name": "Maya", "hours": 8, "gpa": 3.7},
    {"name": "Sam",  "hours": 7, "gpa": 3.2},
]

In [29]:
# Print each student's name and GPA
for s in students:
    print(s["name"], "has GPA", s["gpa"])

Alex has GPA 3.2
Maya has GPA 3.7
Sam has GPA 3.2

In [32]:
for s in students:
    print(s["gpa"])

3.2
3.7
3.2

In [33]:
[s["gpa"] for s in students]

[3.2, 3.7, 3.2]

In [30]:
# Average GPA
avg_gpa = sum(s["gpa"] for s in students) / len(students)
print("Average GPA:", avg_gpa)

Average GPA: 3.366666666666667

In [34]:
# Add a new field (minutes studied)
def hours_to_minutes(h):
    return h * 60

for s in students:
    s["minutes"] = hours_to_minutes(s["hours"])

print("With minutes added:", students)

With minutes added: [{'name': 'Alex', 'hours': 6, 'gpa': 3.2, 'minutes': 360}, {'name': 'Maya', 'hours': 8, 'gpa': 3.7, 'minutes': 480}, {'name': 'Sam', 'hours': 7, 'gpa': 3.2, 'minutes': 420}]

In [35]:
# Unique GPAs
unique_gpas = set(s["gpa"] for s in students)
print("Unique GPAs:", unique_gpas)

Unique GPAs: {3.7, 3.2}